{% extends 'base.html.twig' %}

{% block title %} MeetMyDoc {% endblock %}

{% block body %}

  <div class="row" style="margin-top: 1rem;">
    <div class="col col-xs-12 col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
      <h1>Recherche de médecin</h1>
      <form>
        <div class="form-group">
          <fieldset><label>Spécialité*</label>
            <select class="form-control">
              <optgroup label="choixSpecialiteMedecin">
                <option value="12" selected="">Généraliste</option>
                <option value="13">Cardiologue</option>
                <option value="14">Kinésithérapeute</option>
              </optgroup>
            </select>
            <label>Ville*</label>
            <input id="laVille" class="form-control" type="text" name="champNomVille" placeholder="ex : Bayonne" onkeyup="choisirVille()">
            <label>Nom</label>
            <input class="form-control" type="text" name="champNomMedecin" placeholder="ex : Richard">
            <label style="font-size: 12px;">Les champs suivis d'un * sont obligatoires</label>
          </fieldset>
          <a id="leLien" class="btn btn-primary" href="{{path('meet_my_doc_patient_afficher_medecins',{ville: 'Anglet'})}}">Rechercher</a>
          </div>
        </form>
      </div>
    </div>

  {% endblock %}

  {% block javascripts %}
  <script>
    function choisirVille(){
      let input = document.getElementById('laVille').value;
      let bouton = document.getElementById('leLien');

      bouton.setAttribute("href","{{path('meet_my_doc_patient_afficher_medecins',{ville: "" })}}" + "-"  + input);
      //alert("{{path('meet_my_doc_patient_afficher_medecins',{ville: "" })}}" + "-" + input);
    }
  </script>
  {% endblock %}
